*{
    margin: 0;
    padding: 0;
}


main{
    height: 98vh;
    background-color: white;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}
.conteudo{
    display: flex;
   
}
.container{
    display: flex;
    flex-direction: column;
    width: 350px;
    border: 1px solid rgba(115, 115, 115, 0.322);
    height: 620px;
    background-color: white;

}
.A1 > picture > img{
    display: flex;
    padding:20px 70px 30px 90px;
    

}
.A1 > h2{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-bottom: 30px;
    color: rgb(115, 115, 115);
    font-size: 22px;

}

.btn-primary{
    width: 290px;
    padding: 10px;
    background-color: #0095f6;
    color: white;
    margin: auto;
    border: 1px solid #0095f6;
    border-radius: 10px;
}

.btn-secondary{
    width: 290px;
    padding: 10px;
    background-color: #0095f6;
    color: white;
    margin: auto;
    border: 1px solid #0095f6;
    border-radius: 10px;
}
    


input{
    padding: 9px 0 7px 8px;
    width: 270px;
    margin: auto;
    margin-bottom: px;
    margin-top: 8px;
    background-color: #fafafa;
    border: 1px solid #bdbaba;
    border-radius: 5px;

}
p{
    text-align: center;
    color: rgb(115, 115, 115);
    padding-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.cadastro{
    border: 1px solid rgba(115, 115, 115, 0.322);
    padding: 20px;
    margin-top: 40px;
    
}