*{
    padding: 0;
    margin: 0px;
}
body{
    
    background-color: #fafafa;
    align-content: center;
    align-items: center;
    justify-content: center;
}
main{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.container{
    display: flex;
    flex-direction: column;
    
   
    
}
.esquerda{
    background-image:url(https://static.cdninstagram.com/images/instagram/xig/homepage/phones/home-phones.png?__makehaste_cache_breaker=HOgRclNOosk);
    height: 600px;
    width: 430px;
    background-repeat: no-repeat;
}
.direita{
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: 5px;
    width: 350px;
    height: 400px;
    
    align-items: center;
}
.A1{
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 350px;
}
.imagem{
    height: 539px;
    width: 255px;
    position: relative;
    top: 28px;
    left: 155px; 
    
}
.imagem2{
    padding: 0px 90px 0px 20px;
    display: inline-block;
    align-items: center;
    vertical-align: baseline;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 20px;
}
input{
    display: flex;
    border: 1px solid rgb(212, 208, 208);
    padding: 10px;
    margin-left: 30px;
    border-radius: 3px;
    width: 250px;
    margin-bottom: 5px; 
    justify-items: center;
    align-items: center;

}


.cadastro{
    display: block;
    flex-direction: column;
    flex-wrap: nowrap;
    clear: both;
}
button{
    background-color: rgb(75, 75, 236);
    padding: 10px;
    border-radius: 10px;
    border: 1px solid gray;
    color: white;
    width: 270px;
    margin-left: 30px;
}
button:hover{
    background-color: blue;
    cursor: pointer;
}
.facebook{
    display: flex;
    margin-top: 20px;
    font-weight: bold;
}
.senha{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    margin-top: 10px;
}
.cadastro2{
    display: flex;
    border: 1px solid gray;
    padding: 15px;
    margin-top: 20px;
    text-decoration: none;
}


.app > p {
    font-family: Arial, Helvetica, sans-serif;
    padding:;
    text-align: center;
    padding: 20px;
}
.link{
    display: flex;
    width: 250px;
    padding-left: 10px;
    margin-left: 0px;
    align-items: center;
}
.link > a{
    width: 100px;
    padding-left: 20px;
    align-items: center;
    margin: 5px 0px 0px 20px;
    
}

footer{
    background-color: #fafafa;
    text-align: center;
    margin-bottom: 16px;
    padding: 50px;
}
