*{
    padding: 0;
    margin: 0;
}
main{
    display: flex;
    background-color: #fafafa;
    height: 100vh;

}
.esquerda{
    background-image:url(https://static.cdninstagram.com/images/instagram/xig/homepage/phones/home-phones.png?__makehaste_cache_breaker=HOgRclNOosk);
    height: 600px;
    width: 430px;
    background-repeat: no-repeat;
}
.direita{
    background-repeat: no-repeat;
    background-position: 0px -52px;
    background-size: auto;
    width: 175px;
    height: 100px;
    display: flex;
    align-items: stretch;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    
    
}
.A1{
    align-items: stretch;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    
}


.imagem{
    height: 539px;
    width: 255px;
    position: relative;
    top: 28px;
    left: 155px;
}