*{
    padding: 0;
    margin: 0px;
}
body{
    
    background-color: #fafafa;
    margin-top: 40px;
    align-content: center;
    align-items: center;
    justify-content: center;
}
main{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    height: 78vh;
}
.container{
    display: flex;
    flex-direction: column;
   
}
.esquerda{
    background-image:url(https://static.cdninstagram.com/images/instagram/xig/homepage/phones/home-phones.png?__makehaste_cache_breaker=HOgRclNOosk);
    height: 600px;
    width: 430px;
    background-repeat: no-repeat;
    padding-right: 30px;
}
.direita{
    display: flex;
    flex-direction: column;
    border: 1px solid #DBDBDB;
    border-radius: 5px;
    width: 350px;
    height: 430px;
    align-items: center;
}
.A1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 350px;
   
}
.imagem{
    height: 539px;
    width: 255px;
    position: relative;
    top: 28px;
    left: 155px; 
    
}
.imagem2{
    padding: 0px 90px 0px 20px;
    display: inline-block;
    align-items: center;
    vertical-align: baseline;
    display: flex;
    justify-content: center;
   margin: 40px 30px 20px 90px;
}
input{
    display: flex;
    border: 1px solid #DBDBDB;
    padding: 10px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 3px;
    width: 250px;
    margin-bottom: 5px; 
    justify-items: center;
    align-items: center;

}
a{
    text-decoration: none;
}


.cadastro{
    display: block;
    flex-direction: column;
    flex-wrap: nowrap;
    clear: both;
}
button{
    background-color: #4CB5F9;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid #DBDBDB;
    color: white;
    width: 270px;
    margin-left: 30px;
    margin-right: 30px;
}
button:hover{
    background-color: blue;
    cursor: pointer;
}
.facebook{
    display: flex;
    margin-top: 20px;

}

.facebook > a > img {
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    margin-bottom: -3px;
}
.senha{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    margin-top: 10px;
}
.cadastro2{
    display: flex;
    border: 1px solid #DBDBDB;
    padding: 20px;
    margin-top: 10px;
    text-decoration: none;

}

.cadastro2 > p {
    text-align: center;
    padding-left: 50px;
}


.app > p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 20px;
}
.link{
    display: flex;
    width: 200px;
    padding-left: 10px;
    margin-left: 0px;
    align-items: center;
}
.link > a{
    width: 100px;
    padding-left: 20px;
    align-items: center;
    margin: 5px 0px 0px 20px;
    
}


footer{
    flex-direction: column;
    background-color: #fafafa;
    text-align: center;
    margin-bottom: 16px;
    padding: 70px;
    height: 30px;
    
}

.termos{
    padding-bottom: 10px;
    margin: 20px;
    margin-left: 30px;
    font-weight: normal;
    color: gray;
}

.termos2{
    flex-direction: row;
    align-items: center;
}

